<div class="row centered">
  <div class="panel panel-default col-sm-8 ">

    <%= simple_form_for service do |f| %>
      <%= render "layouts/application/form_errors", object: service %>

      <p class="form-required">*Required fields</p>

      <%= f.input :service_name %>
      <%= f.input :description, as: :text, hint: 'Maximum 2000 characters' %>
      <%= f.input :price,  as: :decimal, hint: "Omit the dollar sign (example: 25.00)" %>
      <%= f.input :start_time, as: :time, html5: true %>
      <%= f.input :end_time, as: :time, html5: true %>

      <%= f.button :submit, class: "primary" %>

    <% end %>

  </div><!-- /.panel -->
</div><!-- /.row -->

<script type="text/javascript">


  $(function(){
    $('#new_service').submit(function(event){
      event.preventDefault();

      $.ajax({
        url: this.action,
        data: $(this).serialize(),
        dataType: "json",
        type: this.method,

        success: function(response){

          function Services(response){
            this.serviceList = response;
          }

        },
        error: function(errorResponse){
          let error = $.parseJSON(errorResponse.responseText);
          let html = [
            '<div class="alert alert-danger alert-dismissible fade in" role="alert">',
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">',
            '<span aria-hidden="true">×</span>',
            '</button>',
            '<h4>Please fix the following errors:</h4>',
            '<ul id=js-error>'
          ]

          $.each(error, function(key, value) {
            html.push(`<li>${value}</li>`);
          });
          html.push('</ul>', '</div>');
          $(".container.service.form").before(html.join(''));

        }// end of error
      });//end ajax()

    });//end on()
  });//end jquery()
</script>
