<div class="page-wrap">

  <div class="container form">


    <h1 class="page-title">Update your Account/Sign In</h1>
    <div class="centered row">
      <div class="col-sm-8 panel panel-default">

        <%= devise_error_messages! %>

        <%= simple_form_for(resource, as: resource_name,
        url: registration_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          <%= f.input :password_confirmation, required: false %>

          <p class='form-note'>Your current password is required for changes to take effect.</p>
          <%= f.input :current_password, required: true %>
        </div><!-- /.form-inputs -->

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div><!-- /.form-actions -->
        <% end %>

      </div><!-- /.panel -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.page-wrap -->
