<li>Tracking No: <%= order.id %></li>
<li>Shipping Reference: <%= order.shipping_reference %></li>
<li>Pickup Date <%= order.pickup_date %></li>
<li>Pickup Time <%= order.pickup_time %></li>
<li>Number of Items: <%= order.number_of_items %></li>
<li>Special Instructiosn <%= order.special_instructions %></li>
<li>Estimated Weight <%= order.estimated_weight %></li>
<li>Signature Requirement <%= order.signature_requirement %></li>
