<div class="order-list">
  <h2>
    <% if policy(order).show? %>
      <%= link_to "Tracking# #{order.id}", account_order_path(current_user.account, order) %>
    <% else %>
      Tracking# <%= order.id %>
    <% end %>
  </h2>

  <li><b>Shipping Reference:</b> <%= order.shipping_reference %></li>
  <li><b>Pickup Date:</b> <%= order.pickup_date %></li>
  <li><b>Pickup Time:</b> <%= order.pickup_time %></li>
  <li><b>Number of Items:</b> <%= order.number_of_items %></li>
  <li><b>Special Instructions:</b> <%= order.special_instructions %></li>
  <li><b>Estimated Weight:</b> <%= order.estimated_weight %></li>
  <li><b>Signature Requirement:</b> <%= order.signature_requirement %></li>

</div>
