<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Services<b class="caret"></b>
  </a>

  <ul class="dropdown-menu">
    <% Service.all.each do |service| %>
      <li><%= link_to service.service_name, service_path(service) %></li>
      <% if service != Service.last %>
        <li class="divider"></li>
      <% end %>
    <% end %>
  </ul>
</li>

<% if user_signed_in? && current_user.account&.slug.present? %>

  <li><%= link_to "Place Order", new_account_order_path(current_user.account) %></li>
  <li><%= link_to "Order History", account_orders_path(current_user.account) %></li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", account_path(current_user.account) %></li>
      <li class="divider"></li>
      <li><%= link_to "Edit Profile", edit_account_path(current_user.account) %></li>
      <li class="divider"></li>

      <li>
        <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      </li>
    </ul>
  </li>

<% else %>
  <li><%= link_to "Log in", new_user_session_path %></li>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
<% end %>
