<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/meta_tags" %>

    <%= render "layouts/rails_default" %>
    <%= yield :js %>
    <%= render "layouts/shim" %>
  </head>
  <body id="<%= controller_name %>-<%= action_name %>">
    <%= render "layouts/application/flash_messages" %>

    <div class="page-wrap">
      <%= render "layouts/application/navigation" %>
      <%= yield %>
    </div>

    <%= render "layouts/application/footer" %>
  </body>
</html>
