<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render "layouts/shim" %>
  </head>

  <body class="hero main-bg-image">
    <%= render "layouts/application/flash_messages" %>

    <div class="page-wrap">
      <%= render "layouts/application/navigation" %>
      <%= yield %>
    </div>

    <%= render "layouts/application/footer" %>
    <%# debug(user_session) if Rails.env.development? %>
  </body>

</html>
