<!DOCTYPE html>
<html>
  <head>
    <title>Dom McKellar | FetchIt</title>
    <meta name="google-site-verification" content="RPRubF6vNgx1mAYd_eUbQxQGbnTMy_PQRT-jEvSJ070">
    <%= render 'layouts/rails_default' %>
    <%= render "layouts/shim" %>
  </head>

  <body class="hero main-bg-image">
    <%= render "layouts/application/flash_messages" %>

    <div class="page-wrap">
      <%= render "layouts/application/navigation" %>
      <%= yield %>
    </div>

    <%= render "layouts/application/footer" %>
  </body>

</html>
