<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/meta_tags" %>
    <%= render 'layouts/rails_default' %>
    <%= render "layouts/shim" %>
  </head>

  <body class="hero main-bg-image">
    <%= render "layouts/application/flash_messages" %>

    <div class="page-wrap">
      <%= render "layouts/application/navigation" %>
      <%= yield %>
    </div>

    <%= render "layouts/application/footer" %>
  </body>

</html>
