<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/application/shim" %>
  </head>



  <body class="hero main-bg-image">
<%= render "layouts/application/flash_messages" %>
<div class="page-wrap">
    <%= render "layouts/application/navigation" %>

    <%= yield %>

</div>
    <%= render "layouts/application/footer" %>

  </body>



</html>
