<div class="container order form">

  <h1 class="page-title">Manage Accounts</h1>

    <ul>
      <% @accounts.each do |account| %>
        <% if account.user != current_user %>
          <li><%= account.first_name %> <%= account.last_name %></li>

            <%= form_for(account.user, url: update_role_path(account.user),
                                       html: {method: "patch"}) do |f| %>
              <%= f.label :role %>
              <%= f.select(:role, User.roles.keys.to_a) %><br>
              <%= f.submit "Update Role", class: "btn" %><br><br>
            <% end %>
        <% end %>
      <% end %>
    </ul>
</div>
